In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
data = pd.read_csv('transactions.csv',
                  index_col=0)
data

             a  c  d  e  k  m  n  o  u  y  co
transaction
100          0  0  0  1  1  1  1  1  0  1   0
200          0  0  1  1  1  0  1  1  0  1   0
300          1  0  0  1  1  1  0  0  0  0   0
400          0  1  0  0  1  1  0  0  1  1   0
500          0  0  0  1  1  0  0  1  0  1   1

In [3]:
freq_item = apriori(data,
                    min_support=0.6,
                    use_colnames=True)
rules = association_rules(freq_item,
                         metric='confidence',
                         min_threshold=0.8)

C:\Users\David's PC\AppData\Roaming\Python\Python38\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(k),(e),1.0,0.8,0.8,0.8,1.00,0.00,1.0
1,(e),(k),0.8,1.0,0.8,1.0,1.00,0.00,inf
2,(o),(e),0.6,0.8,0.6,1.0,1.25,0.12,inf
3,(m),(k),0.6,1.0,0.6,1.0,1.00,0.00,inf
4,(o),(k),0.6,1.0,0.6,1.0,1.00,0.00,inf

In [14]:
freq_item.sort_values(by='itemsets', kind='mergesort')

    support      itemsets
0       0.8           (e)
1       1.0           (k)
2       0.6           (m)
3       0.6           (o)
4       0.8           (y)
5       0.8        (k, e)
6       0.6        (o, e)
7       0.6        (y, e)
8       0.6        (m, k)
9       0.6        (o, k)
10      0.8        (y, k)
11      0.6        (y, o)
12      0.6     (k, o, e)
13      0.6     (y, k, e)
14      0.6     (y, o, e)
15      0.6     (y, o, k)
16      0.6  (y, k, o, e)

In [16]:
rules[['antecedents','consequents','confidence']].sort_values(by=['antecedents','consequents'])

   antecedents consequents  confidence
0          (k)         (e)         0.8
6          (k)         (y)         0.8
1          (e)         (k)         1.0
2          (o)         (e)         1.0
4          (o)         (k)         1.0
7          (o)         (y)         1.0
10         (o)      (e, k)         1.0
15         (o)      (y, e)         1.0
18         (o)      (y, k)         1.0
27         (o)   (y, e, k)         1.0
3          (m)         (k)         1.0
5          (y)         (k)         1.0
8       (o, k)         (e)         1.0
17      (o, k)         (y)         1.0
25      (o, k)      (y, e)         1.0
9       (o, e)         (k)         1.0
14      (o, e)         (y)         1.0
26      (o, e)      (y, k)         1.0
11      (y, e)         (k)         1.0
13      (y, e)         (o)         1.0
24      (y, e)      (o, k)         1.0
12      (y, o)         (e)         1.0
16      (y, o)         (k)         1.0
23      (y, o)      (e, k)         1.0
19   (y, o, k)         (e)         1.0
20   (y, e, k)         (o)         1.0
21   (y, o, e)         (k)         1.0
22   (e, o, k)         (y)         1.0